:root{
  --width: 800px;
}

main, .maincontainer {
  width: 90%; 
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: rgb(249, 109, 97);
  font-family: monospace;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.header {
  color: white;
  font-weight: bold;
  text-decoration: dotted;
}
.header:hover {
  color: black;
}

.design {
  color: white;
  font-weight: bold;
  text-decoration: dotted;
}
.design:hover {
  color: black;
}

.moose {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  height: 650px;
  align-items: center;
}

.caption {
  text-align: center;
  color: white;
  font-style: italic;
}

.list {
  text-align: left;
  color: white;
}

.intro-list {
  margin-bottom: 10px;
}

.signature {
  color: white;
  font-style: italic;
}

.contract-text {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
}

.home-intro {
  text-align: left;
  font-size: medium;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer {
  color: white;
  font-weight: bold;
  text-decoration: dotted;
  text-align: center;
  font-size: 14;
}
.footer:hover {
  color: black;
}

.footer a {
  color: white;
}


a {
  text-decoration: none;
}

button {
  background-color: mediumspringgreen;
  color: blue;
}

select{
  border-color: mediumspringgreen;
}

.basic-info{
  border-color: mediumspringgreen;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
    color: mediumspringgreen; 
}

.web-eval{
  color: white;
}
.web-eval:hover{
  color: black;
}

.time-script{
  text-align: center;
  font-size: small;
  color: white;
}

.script-info{
  text-align: center;
  border-color: mediumspringgreen;
}

.script-info input{
  text-align: center;
  border-color: mediumspringgreen;
}

.script-button-container{
  text-align: center;
}

.byo-container{
  text-align: center;
}



.byo-container form label {
    margin-bottom: 5px;
}

.byo-container form input[type="text"],
.byo-container form input[type="file"] {
    width: calc(100% - 10px); 
    border-color: mediumspringgreen;
}

.byo-button{
  text-align: center;
  background-color: mediumspringgreen;
  color: blue;
}


/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
  }