<h1>Ro Mussasa's Red Moose|| ITIS 3135</h1>
      <nav>
        <a href="./" class="header">Home</a>
        ||
        <a href="introduction.html" class="header">Introduction</a>
        ||
        <a href="contract.html" class="header">Contract</a>
        ||
        <a href="about.html" class="header">About</a>
        ||
        <a href="tables.html" class="header">HTML Tables</a>
        ||
        <a href="forms.html" class="header">Form</a>
        ||
        <a href="website_evaluations.html" class="header">Website Evaluations</a>
        ||
        <a href="hobby/" class="header">Hobby</a>
      </nav>
      